body {
			margin: 0;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #111;
			color: white;
			font-family: sans-serif;
		}	
		
		#container {
			background: #1e1e1e;
			padding: 18px 22px;
			border-radius: 16px;
			box-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
			border: 1px solid rgba(255, 255, 255, 0.12);

			width: 75vw;
			max-width: 600px;

			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

		}
		
		#question {
			font-size: 2.2rem;
			margin: 20px 0;
			z-index: 99;
			position: relative;
		}

/* Container for the four answer buttons */
		#answers {
			 position: relative;
			width: 400px;   
			height: 400px;     
			margin-top: 20px;
		}

/* Shared button styles */
		.answerButton {
			position: absolute;
			width: 120px;
			height: 120px;
			border-radius: 20px;
			font-size: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #444;
			color: white;
			border: 3px solid white;
			user-select: none;
		}

/* Top button */
		#ans3 {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

/* Right button */
		#ans1 {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

/* Bottom button */
		#ans4 {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}

/* Left button */
		#ans2 {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}